.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItem {
  max-width: 500px;
  margin: 20px auto;
  height: 200px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 20px;
}

.cartItem img {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.productDetails p {
  text-align: left;
}

.cartItem .productDetails {
  width: 100%;
  font-size: 18px;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bold;
}

.countHandler input,
button {
  margin: 5px;
  padding: 5px;
}

.delete button {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 8px;
  background-color: aqua;
  color: white;
  margin: 10px;
  cursor: pointer;
}
