.formContainer {
  margin-top: 50px;
}

.formItem {
  width: 60%;
  margin: 30px auto;
}

label {
  text-align: left;
  display: block;
  margin-bottom: 5px;
}

.formItem input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formItem button {
  padding: 10px 50px;
  background-color: #1483c4;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
